.main-news01 {
  padding: 40px 0 40px;

  .news01-header {
    @include flexbox(between);

    .main-sub-title {
      padding: 5px 0 25px;
      font-size: 25px;
    }
  }

  .news01-box01 {
    .box {
      padding-bottom: 20px;
      transition: opacity .2s ease-in-out;

      &:hover {

        .title,
        img {
          opacity: 0.7;
        }
      }

      a {
        display: block;
      }

      &-img {
        padding-bottom: 20px;

        img {
          transition: opacity .2s ease-in-out;
        }
      }

      &-text {
        .title {
          position: relative;
          display: block;
          font-size: 18px;
          font-weight: 500;
          line-height: 26px;
          margin-bottom: 25px;
          transition: opacity .2s ease-in-out;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 70px;
            height: 1px;
            background-color: $text-dark;
          }
        }

        p {
          @include line-clamp(2);
          font-size: 15px;
          font-weight: 300;
          line-height: 22px;
          color: $text-light;
        }
      }
    }
  }

  .news01-box02 {
    overflow: hidden;

    .box-wrap {
      @include flexbox(between, start);
      padding-bottom: 18px;
    }

    .mini-box {
      width: 48%;
      overflow: hidden;

      &:hover {

        .title,
        img {
          opacity: 0.7;
        }
      }

      .mini-box-img {
        margin-bottom: 14px;

        img {
          transition: opacity .1s ease-in-out;
        }
      }

      .title {
        display: block;
        height: 42px;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        transition: opacity .1s ease-in-out;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include responsive(T) {
    .news01-header {
      .main-sub-title {
        font-size: 35px;
      }
    }

    .news01-box01 {
      @include flexbox(between);

      .box {
        width: calc(50% - 10px);
      }
    }
  }

  @include responsive(D) {
    padding: 100px 0 120px;

    .news01-header {

      .main-sub-title {
        padding: 13px 0 52px;
        font-size: 45px;
      }
    }
  }
}