.search-wrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $point;
  padding: 10px;
  padding-left: 15px;
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s ease-in-out;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }
  
  .input-group {

    input {
      width: 100%;
      padding: 6px 15px 7px;
      font-size: 14px;
      border: 1px solid $white;
      background-color: $white;
    }

    button {
      border: 1px solid $white;
    }
  }
}