// 커스텀 reset css

// main font-family
$font-main: 'Noto Sans KR', sans-serif;

* {
  margin: 0;
  font-family: $font-main;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font 가 더 부드럽게 render 됨
}

html {
  font-family: $font-main;
  font-size: 17px; // 브라우저의 기본 폰트 크기를 바꿀 수 있다.
}

body {
  font-family: $font-main;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  color: $text-primary; // 본문의 기본 text 컬러를 미리 지정해주어 일괄적으로 처리
}

h1 {
  margin: 0; // _normalize.scss 에서 마진을 주고있었음
}

a {
  color: inherit; // a 상위 태그의 color 속성을 상속
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

address {
  font-style: normal;
}
