.input-group {
  @include flexbox(start);

  input {
    border: 1px solid $border;
    padding: 10px 20px;

    &::placeholder {
      font-size: 13px;
      font-weight: 300;
    }

    &.is-focus {
      border: 1px solid $text-primary;
    }
  }
}