%btn-search {
  border: 1px solid $border;
  background: url(/assets/images/icons/ic-search.png) no-repeat center;
}

.btn-search-37 {
  @extend %btn-search;
  width: 37px;
  height: 37px;
}

.btn-search-43 {
  @extend %btn-search;
  width: 43px;
  height: 43px;
}

.btn-search-50 {
  @extend %btn-search;
  width: 50px;
  height: 35px;
}