.global-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  border-bottom: 2px solid $point;
  z-index: $header-level;

  @include responsive(D) {
    position: relative;
  }
}