.middle-header {
  
  &-sm{
    @include flexbox(between);
    height: $middle-header-sm-height;

    .logo {
      a {
        display: block;
        width: 140px;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  &-lg {
    @include flexbox(between);
    position: relative;
    height: $middle-header-lg-height;

    .input-group {

      input {
        min-width: 284px;
      }
    }

    .logo {
      @include pos-center;
    }

    .util-box {
      @include flexbox;

      &-item a {
        padding: 10px 25px 10px 0;

        &:hover,
        &:active {
          opacity: 0.6;
        }
      }

      .login {
        margin-right: 24px;

        .btn-login {
          background: url('/assets/images/icons/ic-login.png') no-repeat center right;
        }
      }

      .btn-lang {
        background: url('/assets/images/icons/ic-lang.png') no-repeat center right;
      }
    }
  }
}